# Helyi, bizalmas beallitasok
config.ps1
devices.csv

# Futasi naplok
halozat_hiba.log
*.log
logs/
pingmonitor-settings.json

# Ideiglenes PS2EXE forditasi fajl
PingMonitorGUI-PS2EXE.exe

# Szerkesztoi beallitasok
*.ps1.user
.vscode/
